<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{45} %msg%n%xException{full}</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
